* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
.App {
  position: relative;
}
/*! Nav.js */
.nav {
  width: 100%;
  height: 8rem;
}
.nav_container {
  width: 100%;
  height: 100%;
}
.navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.navbar:first-child {
  border-bottom: 1px solid #f0f0f0;
  color: #e10a0a;
}
.nav_mobileMenu {
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  cursor: pointer;
  /* padding-left: 1.5rem; */
  position: relative;
}
.mobileMenu_box {
  display: flex;
  align-items: center;
}
.mobileMenu_box:first-child {
  width: 6rem;
  margin-left: 1.2rem;
}
.mobileMenu_box:last-child {
  width: 0;
  height: 0;
  border-top: 4rem solid #f7f7f7;
  border-right: 2rem solid #fff;
}
.mobileMenu_icon {
  margin-right: 1rem;
}
.mobileMenu_icon > .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto;
  background-color: #e10a0a;
  transition: all 0.3s ease;
}
.text {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  transition: all 0.3s ease;
}
.text_close {
  display: none;
}
.nav_title {
  position: absolute;
  left: 50%;
  cursor: pointer;
}
.nav_title > img {
  width: 4rem;
}
.navbar > .nav_items {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navbar > .nav_items > li {
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.navbar > .nav_items > li:hover {
  color: #e10a0a;
}
.mobileMenu_content {
  position: absolute;
  display: flex;
  top: 4rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 80vh;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.mobileMenu_content .content_box:not(:last-child) {
  display: block;
  flex: 0 1 24rem;
  padding: 4.6rem 0 0 3.5rem;
}
.mobileMenu_content .nav_items {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2rem;
}
.mobileMenu_content .nav_items > li {
  margin: 1rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.mobileMenu_content .nav_items .icon_RightArrow {
  display: none;
}
.mobileMenu_content .nav_items > li:hover {
  color: #e10a0a;
}
.mobileMenu_content .nav_items > li:hover .icon_RightArrow {
  display: block;
  position: absolute;
  right: -3rem;
}
.select {
  color: #e10a0a;
}
/*! mobileMenu_active */
.mobileMenu_active .text_menu {
  display: none;
}
.mobileMenu_active .text_close {
  display: block;
}
.mobileMenu_active .bar:nth-child(2) {
  opacity: 0;
}
.mobileMenu_active .bar:nth-child(1) {
  transform: rotate(45deg) translate(2px, 8px);
}
.mobileMenu_active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -8px);
}
.mobileMenu_active .mobileMenu_content {
  opacity: 1;
  z-index: 100;
}
.mobileMenu_active .mobileMenu_content .content_box:not(:last-child) {
  display: block;
  flex: 0 1 24rem;
  padding: 4.6rem 0 0 3.5rem;
}
.mobileMenu_active .mobileMenu_content .nav_items {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 2rem;
}
.mobileMenu_active .mobileMenu_content .nav_items > li {
  margin: 1rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  text-transform: capitalize;
  /* color: #e10a0a; */
}
.mobileMenu_active .mobileMenu_content .nav_items .icon_RightArrow {
  display: none;
}
.mobileMenu_active .mobileMenu_content .nav_items > li:hover {
  color: #e10a0a;
}
.mobileMenu_active .mobileMenu_content .nav_items > li:hover .icon_RightArrow {
  display: block;
  position: absolute;
  right: 0;
}
/*! mobileMenu_active*/

.content_box:nth-child(2) ul {
  list-style: none;
  padding-left: 2rem;
}
.content_box:nth-child(2) li {
  font-size: 1rem;
  margin: 2rem auto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  /* color: black; */
}
.content_box:nth-child(2) li > .icon_RightArrow {
  display: none;
}
.content_box:nth-child(2) li:hover {
  color: #e10a0a;
}
.content_box:nth-child(2) li:hover .icon_RightArrow {
  font-size: 2rem;
  display: block;
  position: absolute;
  right: 0;
}
/*! LandingPage.js */
.landing {
  width: 100%;
  height: 50rem;
}
/*! Section1.js */
.section {
}
.section1_content {
  display: flex;
  justify-content: center;
  background-color: #e10a0a;
  cursor: pointer;
}
.section1_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  max-width: 35rem;
  /* min-width: 30rem; */
  color: #fff;
}
.section1_text > div:not(:nth-child(2)) {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section1_text > div:nth-child(2) {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem auto;
  font-family: serif;
  letter-spacing: -1px;
}
.section1_text > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#arrowIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
#arrowIcon .bar {
  display: block;
  width: 8px;
  height: 1px;
  margin: 2px auto;
  background-color: #fff;
}
#arrowIcon .bar:nth-child(1) {
  transform: rotate(45deg);
}
#arrowIcon .bar:nth-child(2) {
  transform: rotate(-45deg);
}
.section1_image {
  padding-left: 3rem;
}
.section1_image img {
  width: 40rem;
}
.section1_blank {
  width: 100%;
  height: 4rem;
  border-bottom: 4rem solid #fff;
  border-left: 98vw solid #e10a0a;
}
.section1_blank .bar {
  height: 2px;
  width: 4rem;
  position: absolute;
  left: 50%;
  background-color: #e10a0a;
  transform: rotate(90deg) translateX(50%);
}
